*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(22, 2, 62), rgb(45, 28, 93), rgb(34, 23, 65));
   
}

.main{
    width: 300px;
    height: 500px;
    margin: auto;
    margin-top: 90px;
    background: linear-gradient(rgb(22, 2, 62), rgb(45, 28, 93));
    border-radius: 10px;
}
.main h1{
    text-align: center;
    padding: 20px;
    color: rgb(207, 186, 249);
}
.main input{
    width: 80%;
    height: 30px;
    margin: 20px 20px;
    padding: 0 10px;
    border-radius: 10px 10px 10px 10px;
    border: none;
}
.main input:hover{
    background-color: rgb(218, 219, 234);
    transform: scale(1.04);

    box-shadow: 0 0 5px rgb(83, 16, 217);
}
.main button{
    
    width: 80%;
    height: 30px;
    margin: 10px 10%;
    background-color: rgb(11, 32, 142);
    color: white;
    border: none;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
}
.main button:hover{
    background-color: rgb(6, 19, 94);
    transform: scale(1.08);
}
#weatherResult{
    width: 80%;
    height: 250px;
    margin: 10px 20px;
   background: linear-gradient(rgb(38, 23, 69), rgb(50, 38, 84));
    color: white;
    border-radius: 5px;
    padding: 10px;
}

#weatherResult p{
    margin: 10px;
    font-size: 18px;
    padding: 2px;
    font-style:italic;

}